<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean name="bizDictAction" class="com.automobile.action.BizDictAction" scope="prototype">
		<property name="bizDictService" ref="bizDictService"></property>
	</bean>
	<bean name="systemMgrAction" class="com.automobile.action.SystemMgrAction" scope="prototype">
		<property name="systemMgrService" ref="systemMgrService"></property>
	</bean>
	
	<!--点单系统-->
	<!--商户管理-->
	<bean name="businessAction" class="com.selforder.action.BusinessAction" scope="prototype">
		<property name="businessService" ref="businessService"></property>
	</bean>
	<!--门店管理-->
	<bean name="shopAction" class="com.selforder.action.ShopAction" scope="prototype">
		<property name="shopService" ref="shopService"></property>
	</bean>
	<!--员工管理-->
	<bean name="employeeAction" class="com.selforder.action.EmployeeAction" scope="prototype">
		<property name="employeeService" ref="employeeService"></property>
	</bean>
	<!--权限管理-->
	<bean name="powerAction" class="com.selforder.action.PowerAction" scope="prototype">
		<property name="powerService" ref="powerService"></property>
	</bean>
	<!--组织架构管理-->
	<bean name="organizationAction" class="com.selforder.action.OrganizationAction" scope="prototype">
		<property name="organizationService" ref="organizationService"></property>
	</bean>
	<!--餐桌管理-->
	<bean name="tableAction" class="com.selforder.action.TableAction" scope="prototype">
		<property name="tableService" ref="tableService"></property>
	</bean>
	<!--餐桌管理-->
	<bean name="goodsAction" class="com.selforder.action.GoodsAction" scope="prototype">
		<property name="goodsService" ref="goodsService"></property>
	</bean>
	<!--餐桌管理-->
	<bean name="orderAction" class="com.selforder.action.OrderAction" scope="prototype">
		<property name="orderService" ref="orderService"></property>
	</bean>
	<!--队列管理-->
	<bean name="queueAction" class="com.selforder.action.QueueAction" scope="prototype">
		<property name="queueService" ref="queueService"></property>
	</bean>
	<!--活动管理-->
	<bean name="activityAction" class="com.selforder.action.ActivityAction" scope="prototype">
		<property name="activityService" ref="activityService"></property>
	</bean>
</beans>