<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">   
<configuration>  
	<settings>
		<!-- 使全局的映射器启用或禁用缓存。 -->
		<setting name="cacheEnabled" value="true" />
		<!-- 全局启用或禁用延迟加载。当禁用时，所有关联对象都会即时加载。 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 当启用时，有延迟加载属性的对象在被调用时将会完全加载任意属性。否则，每种属性将会按需要加载。 -->
		<setting name="aggressiveLazyLoading" value="true" />
	</settings>
	
    <typeAliases>  
        <typeAlias alias="userinfo" type="com.greatesky.bean.UserInfo"/>  
        <typeAlias alias="bizdict" type="com.automobile.bean.BizDict"/>  
        <typeAlias alias="parts" type="com.automobile.bean.Parts"/>  
        <typeAlias alias="business" type="com.selforder.bean.Business"/> 
        <typeAlias alias="shop" type="com.selforder.bean.Shop"/> 
        <typeAlias alias="employee" type="com.selforder.bean.Employee"/> 
        <typeAlias alias="resource" type="com.selforder.bean.Resource"/> 
        <typeAlias alias="role" type="com.selforder.bean.Role"/>
        <typeAlias alias="organization" type="com.selforder.bean.Organization"/>
        <typeAlias alias="table" type="com.selforder.bean.Table"/>
        <typeAlias alias="goods" type="com.selforder.bean.Goods"/>
        <typeAlias alias="goodsCategory" type="com.selforder.bean.GoodsCategory"/>
        <typeAlias alias="order" type="com.selforder.bean.Order"/>
        <typeAlias alias="orderDetail" type="com.selforder.bean.OrderDetail"/>
        <typeAlias alias="queueSetting" type="com.selforder.bean.QueueSetting"/>
        <typeAlias alias="queue" type="com.selforder.bean.Queue"/>
        <typeAlias alias="activity" type="com.selforder.bean.Activity"/>
    </typeAliases>  
    
    <mappers>
    	<mapper resource="sqlMap/UserInfo.xml"/>
    	<mapper resource="sqlMap/systemMgr.xml"/>
    	<mapper resource="sqlMap/partsMgr.xml"/>
    	<mapper resource="sqlMap/businessMgr.xml"/>
    	<mapper resource="sqlMap/shopMgr.xml"/>
    	<mapper resource="sqlMap/employeeMgr.xml"/>
    	<mapper resource="sqlMap/powerMgr.xml"/>
    	<mapper resource="sqlMap/organizationMgr.xml"/>
    	<mapper resource="sqlMap/tableMgr.xml"/>
    	<mapper resource="sqlMap/goodsMgr.xml"/>
    	<mapper resource="sqlMap/orderMgr.xml"/>
    	<mapper resource="sqlMap/queueMgr.xml"/>
    	<mapper resource="sqlMap/activityMgr.xml"/>
    </mappers>
</configuration> 